<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
        <link rel="icon" href="./img/weather.png">
        
        <script src="./js/about.js"></script>
    </head>
    <body>
        {{>header}}
        <p>This is about page</p>
        <img src="./img/dp.jpg">
        <hr>
        {{>footer}}
    </body>
</html>
